.conteudo-passo-a-passo {
    padding: 80px 0;

    &__subtitle {
        color: var(--pan-color-primary-brand);

        .bg-azul & {
            color: var(--pan-color-neutral-black);
        }
    }

    &__title,
    &__text,
    &__text a {
        color: var(--pan-color-neutral-black);

        .bg-azul & {
            color: var(--pan-color-neutral-white);
        }

        .bg-preto & {
            color: var(--pan-color-neutral-white);
        }
    }

    &.bg {
        &-preto {
            small {
                color: var(--pan-color-neutral-white);
            }
        }
    }

}