@import '../../../../site/PAN/mixins/breakpoints';

.carousel-pan {

    position: relative;

    .carousel-pan-swiper__navigation {
        display: flex;
        gap: 8px;
        position: absolute;
        bottom: 10%;
        z-index: 1;
        right: 15%;

    }

    .carousel-pan-swiper__pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 6px;
        z-index: 1;

        .swiper-pagination-bullet-active {
            color: var(--pan-color-neutral-white);
            background: var(--pan-color-neutral-white);
        }

        @include min-tablet {
            bottom: 25px;
        }
    }

    .carousel-pan-swiper__button {
        border-radius: 16px;
        background: var(--pan-color-neutral-white);
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &-next,
        &-prev {
            &:after {
                display: none;
            }
        }

        &-prev {
            svg {
                transform: rotate(-180deg)
            }
        }
    }

}