@import "../../site/AEM/variables";

#componente-exemplo h1 {
    width: 100%;
    height: auto;
    background-color: aqua;
    color: black;
    font-size: 10em;
    font-family: sans-serif;
    text-align: center;
}
