@import '../../../../../site/PAN/mixins/breakpoints';

.section-card-estatico-card-imagem-inteira {
    position: relative;
    height: auto;

    &__picture {
        position: relative;
        display: block;
        height: auto;
        width: 100%;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__content {
        position: absolute;
        height: auto;

        .icone {
            width: 32px;
            height: 32px;
        }

    }
}