.card-estatico-2-cardsproduto {
    padding: var(--pan-spacing-64) 0;
    
    .button__wrapper {
        max-width: 230px;
        
        .mahoe-button {
            img {
                max-width: var(--pan-spacing-24);
                max-height: var(--pan-spacing-24);
            }
        }
    }

    .custom-card  {
        &.cima {
            &>div {
                top: var(--pan-spacing-24);
            }
        }

        &.centro {
            display: flex;
            justify-content: center;
            
            &>div {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: var(--pan-spacing-40);
            }
        }
    }
}