@import '../../../../../site/PAN/mixins/breakpoints';

.nps-relacional { 
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    color: var(--pan-color-neutral-white);
    background: var(--pan-color-primary-brand);
    
    &--error {
        align-items: center;
        min-height: 100vh;
        background-color: var(--pan-color-neutral-darker-bg);
        padding-top: var(--pan-spacing-48);
    }

    &__flag-error, &__text-error {
        margin-bottom: var(--pan-spacing-56);
    }

    &__picture {
        grid-row-start: 1;
        grid-column-start: 1;
        object-fit: cover;
        width: 100%;
    }

    &__frame {
        grid-row-start: 1;
        grid-column-start: 1;
        padding: var(--pan-spacing-64) var(--pan-spacing-24);

        @include min-desktop {
            padding-top: var(--pan-spacing-64);
            padding-bottom: var(--pan-spacing-64);
        }
    }
      
    &__texts {
        gap: var(--pan-spacing-24);
        padding: 0;
        margin-bottom: var(--pan-spacing-48);
        
        &>:first-child {
            color: var(--pan-color-neutral-black);
        }

        .typography-big-text-2 {
            letter-spacing: -0.04em;
        }
        
        @include min-desktop {
            margin: 0;
            padding-right: 15%;

            &>:first-child {
                color: var(--pan-color-neutral-white);
            }
        }
    }

    &__form-container {
        background: var(--pan-color-neutral-white);
        color: var(--pan-color-neutral-black);
        padding: var(--pan-spacing-32);
        border-radius: var(--pan-spacing-16);
        transition: 0.2s ease-in-out;

        .text-space {
            margin: var(--pan-spacing-12);
        }

        .text-center {
            text-align: center;
        }

        &:target {
            &.nps-relacional__wrapper-form {
                display: none;
            }
            &.nps-relacional__wrapper-success {
                display: flex;
                flex-direction: column;
            }
        }

        @include min-desktop {
            .text-space {
                margin: var(--pan-spacing-48) 0 var(--pan-spacing-12);
            }
        }
    }

    &__wrapper-success {
        margin: var(--pan-spacing-48) 0;
        text-align: center;

        @include min-desktop {
            .title {
                margin-bottom: var(--pan-spacing-32);
            }
        }
    }

    &__score {
        &-list {
            list-style-type: none;
            padding: 0 var(--pan-spacing-24);
            margin: 0 0 var(--pan-spacing-20);
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        
            @include min-desktop {
                justify-content: space-between;
                flex-wrap: nowrap;
                margin: 0 0 var(--pan-spacing-8);
                padding: 0;
            }
        
            &-item {
                &-button {
                    width: 44px;
                    height: var(--pan-spacing-40);
                    margin: 0 var(--pan-spacing-12) var(--pan-spacing-12) 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--pan-color-neutral-dark);
                    border-radius: 4px;
                    outline: none;
                    border: none;
                    color: var(--pan-color-neutral-white);
                    font-weight: var(--pan-font-weight-bold);
                    transition: 0.2s ease-in-out;
        
                    &:hover,
                    &.active {
                        background-color: var(--pan-color-primary-brand);
                    }
            
                    @include min-desktop {
                        width: 32px;
                        height: 34px;
                        margin: 0;
                    }
                }
            }
        }
    }
    
    &__recomendation {
        margin-top: var(--pan-spacing-12);
    }
    
    &__recomendation-text {
        font-family: var(--pan-font-family-base);
        font-size: 10px;
        font-weight: var(--pan-font-weight-normal);
        line-height: var(--pan-spacing-12);
        color: var(--pan-color-neutral-dark);
    }

    &__navigation-button-submit {
        width: 100%;
    }

    &__finish-button {
        margin-top: var(--pan-spacing-32);

        @include min-desktop {
            margin-top: var(--pan-spacing-48);
        }
    }
}