@import '../../../../../site/PAN/mixins/breakpoints';

.socialmedia-image{
    padding: var(--pan-spacing-32) 0;

    .row{
        gap: 24px;
        flex-direction: column;

        @include min-desktop {
            flex-direction: row;
        }
    }

    &__destaque{
        display: none;
        color: var(--pan-color-primary-brand);

        @include min-desktop {
            display: block;
        }
    }

    &__paragrafo{
        margin-top: 10%;
    }

    &__picture, &__people{
        width: auto;
        max-width: 100%;
        height: auto;
        border-radius: 2.5%;
    }

    &__list{
        padding-left: 0;

        &-item{
            display: flex;
            width: 40px;
            height: 40px;

            @include min-desktop {
                width: 64px;
                height: 64px;
            }
        }
    }

    &__people-list{
        align-items: center;
        list-style-type: none;
        margin: 15px 0;
        padding-left: 0;
        display: none;

        @include min-desktop {
            display: flex;
        }
    }

    &__people{
        margin-right: -5px;
        border-radius: 50%;

        // @include min-desktop {
        //     width: 54px;
        //     height: 54px;
        // }
    }

    &__number{
        padding: var(--pan-spacing-16);
        border-radius: 40px;
        font-weight: 700;
    }

    &__link{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon{
        width: 26px;
        height: 26px;

        @include min-desktop {
            width: var(--pan-font-size-28);
            height: var(--pan-font-size-28);
        }
    }

    &.bg {
        &-branco {            
            .socialmedia-image__title, .socialmedia-image__paragrafo {
                color: var(--pan-color-neutral-black);
            }
            .socialmedia-image__link {
                background-color: var(--pan-color-neutral-lighter);
            }
            .socialmedia-image__number{
                color: var(--pan-color-neutral-white);
                background-color: var(--pan-color-neutral-darker-bg);
            }
            .socialmedia-image__people{
                outline: 3px solid var(--pan-color-neutral-white);
            }
        }

        &-preto {
            .socialmedia-image__title, .socialmedia-image__paragrafo {
                color: var(--pan-color-neutral-white);
            }
            .socialmedia-image__link {
                background-color: var(--pan-color-neutral-dark);
            }
            .socialmedia-image__number{
                color: var(--pan-color-neutral-darker-bg);
                background-color: var(--pan-color-neutral-white);
            }
            .socialmedia-image__people{
                outline: 3px solid var(--pan-color-neutral-dark);
            }
        }
    }
}