@import '../../../../../site/PAN/mixins/breakpoints';

.simulador-fgts-imagem {
    padding-top: var(--pan-spacing-40);

    @include min-tablet {
        padding-top: var(--pan-spacing-32);
    }

    &__wrapper-content {        
        margin-bottom: var(--pan-spacing-32);

        .typography-title-1 {color: var(--pan-color-neutral-black);}
        .typography-body-2 {color: var(--pan-color-primary-brand);}

        @include min-tablet {
            background-color: var(--pan-color-neutral-white);
            border-radius: var(--pan-border-radius-24);
            padding: var(--pan-spacing-32) 35px;

            .typography-title-1, .typography-body-2 {text-align: center;}

            .typography-body-2 {
                margin-bottom: var(--pan-spacing-16);
            }

            .typography-title-1 {
                width: 90%;
                margin: 0 auto var(--pan-spacing-32) auto;
            }
        }
    }

    &__form {
        margin-bottom: var(--pan-spacing-32);
        
        .mahoe-input {
            @include max-mobile {
                margin-bottom: var(--pan-spacing-24);
            }
        }
    }

    &__response {
        width: 100%;
        padding: var(--pan-spacing-32) 0;
        margin-bottom: var(--pan-spacing-32);
        border-radius: var(--pan-border-radius-16);
        background-color: var(--pan-color-neutral-lighter-bg);

        @include max-mobile {
            flex-direction: column;
        }

        .typography-body-1 {margin-right: var(--pan-spacing-16);}
    }

    &__links {
        width: 100%;
        height: 48px;
        margin-bottom: var(--pan-spacing-32);

        .wrapper-button {
            width: 185px;

            @include min-tablet {
                width: 302px;
            }

            @include min-desktop {
                width: 250px;
            }

            @include desktop {
                width: 302px;
            }
        }
    }
    
    &__disclaimer {
        .typography-small{
            color: var(--pan-color-neutral-mid);
            text-align: center;
        }
    }

    .simulador-fgts-imagem-form {

        .form-group {
            padding-bottom: 0px;        
        }
    }

    //Cores
    &.bg {
        &-preto, &-azul {
            @include max-mobile {
                .typography-title-1 {color: var(--pan-color-neutral-white);}     
                .simulador-fgts-imagem__links {
                    .mahoe-link {color: var(--pan-color-neutral-white);}
                }  
            }
        }
        &-azul {
            @include max-mobile {
                .typography-body-2 {color: var(--pan-color-neutral-black);}
            }
        }
        &-branco {
            @include min-tablet {
                .simulador-fgts-imagem__wrapper-content {background-color: var(--pan-color-neutral-lighter);}
            }
        }
        &-cinza {
            .simulador-fgts-imagem__response {background-color: var(--pan-color-neutral-lighter);}
        }
    }
}