@import url("https://designsystem-cdn.bancopan.com.br/cdn-prd/design-tokens/css/colors.css");
@import url("https://designsystem-cdn.bancopan.com.br/cdn-prd/design-tokens/css/font-family.css");
@import url("https://designsystem-cdn.bancopan.com.br/cdn-prd/design-tokens/css/font-size.css");
@import url("https://designsystem-cdn.bancopan.com.br/cdn-prd/design-tokens/css/font-weight.css");
@import url("https://designsystem-cdn.bancopan.com.br/cdn-prd/design-tokens/css/letter-spacing.css");
@import url("https://designsystem-cdn.bancopan.com.br/cdn-prd/design-tokens/css/line-height.css");
@import url("https://designsystem-cdn.bancopan.com.br/cdn-prd/design-tokens/css/opacity.css");
@import url("https://designsystem-cdn.bancopan.com.br/cdn-prd/design-tokens/css/shadows.css");
@import url("https://designsystem-cdn.bancopan.com.br/cdn-prd/design-tokens/css/spacing.css");
@import url("https://designsystem-cdn.bancopan.com.br/cdn-prd/design-tokens/css/borders.css");
@import url("https://designsystem-cdn.bancopan.com.br/cdn-prd/design-tokens/css/typography.css");
